
body {
  background-color: #e50209;
  background-image: url(/bg_zach.tokyo.png);
  background-repeat: no-repeat;
  color: white;
}
a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
