
body {
  background-color: #FFF;
  background-image: url(images/washi_paper_bg.jpg);
  background-repeat: repeat;
  color: #777;
  font-family: monospace;
  font-size: medium;
}
div.headline
{
  padding-top: 25px;
  padding-left: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xxx-large;
}
div.main {
  padding-top: 25px;
  padding-left: 50px;
  margin: auto;
}
span.altcolor {
  color : orange;
  font-weight: bold;
}
span.black {
  color : #555;
  font-weight: bold;
}
a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: turquoise;
  background-color: transparent;
  text-decoration: underline;
}
div.footer {
  padding-top: 25px;
  width: auto;
  text-align: center;
  margin: auto;
}
div.netscape {
  width: auto;
  text-align: center;
  margin: auto;
  font-size: medium;

}
