
body {
  background-color: #FFF;
  background-image: url(images/washi_paper_bg.jpg);
  background-repeat: repeat;
  color: #777;
  font-family: monospace;
}
div.headline
{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
}
#altcolor {
  color : orange;
}
a:link {
  color: #888;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #888;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #888;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #888;
  background-color: transparent;
  text-decoration: underline;
}
#footer {
  text-align: center;
  margin: auto;
}
