/*--- Berkeley Mono font used under license ---------------------------------*/
@font-face {
  font-family: 'Berkeley-Mono';
  font-style: normal;
  src: local('Berkeley-Mono'), local('Berkeley-Mono-Regular'), url(./BerkeleyMono-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Berkeley-Mono';
  font-weight: bold;
  font-style: normal;
  src: local('Berkeley-Mono'), local('Berkeley-Mono-Bold'), url(./BerkeleyMono-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Berkeley-Mono';
  font-style: italic;
  src: local('Berkeley-Mono'), local('Berkeley-Mono-Italic'), url(./BerkeleyMono-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Berkeley-Mono';
  font-style: italic;
  font-weight: bold;
  src: local('Berkeley-Mono'), local('Berkeley-Mono-Bold-Italic'), url(./BerkeleyMono-BoldItalic.woff2) format('woff2');
}
/*---------------------------------------------------------------------------*/

body {
  background-color: #222;
  background-image: linear-gradient(to bottom right, #333, #111);
  color: #777;
  font-family:'Berkeley-Mono';
  font-size: medium;
  height: 100vh;
}
div.headline
{
  padding-top: 40px;
  padding-left: 25px;
  font-family:'Berkeley-Mono';
  font-size: 64px;
}
div.main {
  padding-top: 25px;
  padding-left: 50px;
  margin: auto;
}
span.altcolor {
  color: #F70;
  font-weight: bold;
}

span.list_header {
  color : #BBB;
  font-weight: regular;
}
ul {
  padding-bottom: 25px;
}
li {
  list-style-type: '*';
  padding-inline-start: 1ch;
  margin: 5px 0
}
a:link {
  color: #F70;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #F70;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #F70;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: turquoise;
  background-color: transparent;
  text-decoration: underline;
}
nav.footer {
  padding-bottom: 25px;
  width: auto;
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 0;
  width: 90%;
}